<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <string>
        <color value="black">
            <x value="1">
                <y value="2">
                    <num value="19" />
                </y>
            </x>
            <num value="19">
                <x value="1" />
                <y value="2" />
            </num>
        </color>
        <color value="white">
        </color>
    </string>
    <sgf>
        <color value="B">
            <x value="a">
                <y value="c">
                </y>
            </x>
        </color>
        <color value="W">
        </color>
    </sgf>
</config>